# Python
__pycache__/
*.py[cod]
*$py.class

# 가상환경
.venv/
env/
venv/

# Pydantic uv config lock 파일
uv.lock
uv.toml

# 환경 변수 파일
.env
.env.*

# IDE 설정
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# 로그, 임시 파일
*.log
*.sqlite3
*.db

# 빌드/배포 아티팩트
build/
dist/
*.egg-info/